<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
</style>
</head>
<body>

<table width="500"  >
<tr>
<td valign="top">
 <code>
&#091#module name="syswidget" type="1" #&#093
</code>
 <div style="width:300px; height: 900px; overflow:auto;">
[#module name="syswidget" type="1"#] 
</div>
 </td>

<!-- </tr><tr>-->
<td valign="top">
 <code>
&#091#module name="syswidget" type="2" #&#093
</code>
 <div style="width:300px; height: 900px; overflow:auto;">
 [#module name="syswidget" type="2"#] 
</div>
 </td>

<td valign="top">

 <code>
&#091#module name="syswidget" type="3" #&#093
</code>
 <div style="width:300px; height: 900px; overflow:auto;">
 [#module name="syswidget" type="3"#] 
</div>
 </td>


<td valign="top">
 <code>
&#091#module name="syswidget" type="4" #&#093
</code>
 <div style="width:300px; height: 900px; overflow:auto;">
 [#module name="syswidget" type="4"#] 
</div>
 </td>

<td valign="top">
 <code>
&#091#module name="syswidget" type="5" #&#093
</code>
 <div style="width:300px; height: 900px; overflow:auto;">
 [#module name="syswidget" type="5"#] 
</div>
 </td>


</tr>


</table>

<br>    


