

<style type="text/css">
progress {
    -webkit-appearance: none;
    height: 14px;
    width: 120px;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
}
    s_green progress[value]::-webkit-progress-value {
    background-color: green;
    border-radius: 3px;
}
    s_orange progress[value]::-webkit-progress-value {
    background-color: orange;
    border-radius: 3px;
}
    s_red progress[value]::-webkit-progress-value {
    background-color: red;
    border-radius: 3px;
}
</style>

<div align="center" style="font-size:14px;"><br/>
    <table border="1" cellspacing="2" cellpadding="2" rules="rows">

        <tbody>
            <tr>
                <td>Последнее</br>сообщение</td>
                <td align="right"><span style="font-size:12px; color:orange;">[#lastSayMessage#]</span></td>
            </tr>

            <tr>
                <td>Аптайм</td>
                <td align="right"><span style="font-size:12px; color:orange;">[#SysUptime#]</span></td>
            </tr>

            <tr>
                <td>minmsglevel</td>
                <td align="right"><span style="font-size:12px; color:orange;">[#minmgslevel#]</span></td>
            </tr>

 <tr>
                <td>IP</td>
                <td align="right"><span style="font-size:12px; color:orange;">[#extip#];[#localip#]</span></td>
            </tr>

      <tr>           <td>Провайдер</td>
                <td align="right"><span style="font-size:12px; color:orange;">[#provider#]</span></td>
            </tr>

      <tr>           <td>Местоположение</td>
                <td align="right"><span style="font-size:12px; color:orange;">[#location#]</span></td>
            </tr>

      <tr>           <td>LSUSB</td>
                <td align="right"><span style="font-size:12px; color:orange;">[#lsusb#]</span></td>
            </tr>



      <tr>           <td>uname</td>
                <td align="right"><span style="font-size:12px; color:orange;">[#uname#]</span></td>
            </tr>

      <tr>           <td>OS</td>
                <td align="right"><span style="font-size:12px; color:orange;">[#os#]</span></td>
            </tr>




        </tbody>
     
    </table>

</div>
