<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
</style>
</head>
<body>

<table width="500"  >
<tr>
<td valign="top">
 <code>
&#091#module name="syswidget" type="1" #&#093
</code>
[#module name="syswidget" type="1"#] 
 </td>

<!-- </tr><tr>-->
<td valign="top">
 <code>
&#091#module name="syswidget" type="2" #&#093
</code>
 [#module name="syswidget" type="2"#] 

 </td></tr>


</table>

<br>    


